<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
    <title>Math For Kids</title>
</head>
<body>
   <header>
        <h1 id="title">Math For Kids</h1>
        <nav>
            <ul>
                <li><a href="./mixed-excercises-medium">Mixed excercises medium</a></li>
                <li><a href="./sum-and-sub-medium">Sums and Subs medium</a></li>
                <li><a href="./add-simple">Add simple</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>